{% extends 'base.html' %}

{% block title %}social의 index{% endblock %} <!--얘는 그 head 에 쓰는 타이틀이에요-->

{% block content %}
social's index
<a href="{% url 'social:new'%}">게시글 올리기</a>
{% for post in posts %}
    {% if post.approve %}
    <p><a href="{% url 'social:detail' post.id %}">공지 : {{post.title}}</a></p>
    {% else%}
    {% endif %}
{% endfor %}
{% for post in posts %}
    {% if post.approve %}
    {% else%}
    <p><a href="{% url 'social:detail' post.id %}">{{post.title}}</a></p>
    {% endif %}
{% endfor %}
{% endblock %}