{% extends 'base.html' %}

{% block title %}engineer의 index{% endblock %} <!--얘는 그 head 에 쓰는 타이틀이에요-->

{% block content %}
engineer's index
<a href="{% url 'engineer:new'%}">게시글 올리기</a>
{% for post in posts %}
    {% if post.approved %}
    <p><a href="{% url 'engineer:detail' post.id %}">공지 : {{post.title}}</a></p>
    {%else%}
    {% endif %}
{% endfor %}
{% for post in posts %}
    {% if post.approved %}
    {%else%}
    <p><a href="{% url 'engineer:detail' post.id %}">{{post.title}}</a></p>
    {% endif %}
{% endfor %}
{% endblock %}